.bookListItem {
  border-radius: var(--border-radius);
  padding: var(--space-1);
  margin-bottom: var(--space-2);
  display: flex;
  align-items: flex-start;
}

.bookListItem--visible {
  background: var(--gradient-primary-1);
  box-shadow: var(--box-shadow-1);
}

.bookListItem--hidden {
  opacity: 0.5;
  background: var(--primary-light);
}

.visibilityIcon {
  min-width: var(--space-3);
  margin-top: 4px;
  margin-right: var(--space-2);
}

.bookTitle--hidden {
  text-decoration: line-through;
}
