.container {
  display: flex;
  margin-bottom: var(--space-6);
}
.header {
  flex: 1;
}

.subheading {
  display: block;
}

.pill {
  align-self: flex-end;
  background: var(--on-dark);
  color: var(--primary-light);
  border-radius: 2px;
  padding: 0 var(--space-1);
  margin-bottom: var(--space-2);
}
